header, #title-container {
    place-items: center;
}

body {
    background-color: #0c0c0c;
    color: #b7b7b7;
}

#search-container {
    display: flex;
    gap: 0.5rem;
    max-width: 400px;
    margin: 1rem;
}

#search-container input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #0c0c0c;
    color: #b7b7b7;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

#search-container button {
    padding: 0.5rem 1rem;
    background: #be9cff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background: #be9cff;
}

#info-container {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, 100px);
    justify-content: center;
    place-items: center;
}

#place {
    place-self: center;
    padding: 20px;
}

.info-card {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr;
    place-items: center;
    width: 100px;
    height: 100px;
}

#loader {
    place-self: center;
    border: 4px solid #252525; /* Light grey */
    border-top: 4px solid #be9cff; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}